:root {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Manrope';font-size: 22px;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;

    background: linear-gradient(
        90deg,
        red, orange, yellow, green, cyan, blue, violet
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
