:root {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Manrope';font-size: 22px;
}

h1 {
    font-weight: bolder;
}