:root {
    --bg-1: #0b0b0f;
    --bg-2: #14141c;
    --text-color: #f5f5f7;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);

    background: radial-gradient(
        circle at top,
        var(--bg-2),
        var(--bg-1) 70%
    );
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;

    background: linear-gradient(
        90deg,
        white, red, green, cyan, white
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}