:root {
    --bg-1: #0b0b0f;
    --bg-2: #14141c;
    --text-color: #f5f5f7;
    --card-border: #2a2a2b;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);

    background: radial-gradient(
        circle at top,
        var(--bg-2),
        var(--bg-1) 70%
    );
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;

    background: linear-gradient(
        90deg,
        white, rgb(0, 255, 0), orange, white
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px
}

.color-card {
    border: 5px solid var(--card-border);
    border-radius: 20;
    background-color: var(--color);
    height: 100%;
    width: 100%;
}

.color-info {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}